.dataCard {
    width: 200px;
    text-align: center;
    color: var(--color-text-lightbackground);
    min-width: 100px;
    padding: 1em !important;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dataCard h2 {
    font-size: 2em;
    margin: 0;

}

.dataCard h4 {
    font-size: .8em;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .3px;
}