.dataCard {
    flex-basis: 12%;
    text-align: center;
    color: var(--color-text-lightbackground);
    min-width: 100px
}

.dataCard h2 {
    font-size: 1.75em;
    margin: 0;

}

.dataCard h4 {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
}