.button-botPlanner {
    width: 200px !important;
    margin: 5px 5px 10px 5px !important;
    align-self: flex-end !important;
}

.updatebutton {
    width: 40px !important;
}

.riskDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
}

#noBorder {
    border: none;
}

