.settings-div{ 
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    min-width: 200px;

    padding: 5em;
    justify-content: space-between;
    text-align: left;

    // relative for the add profile dropdown.
    position: relative;

}

.settings-child {
    margin: 0 0 40px 0;
}

.subText{
    font-weight: 300;
    font-size: .8em;
    margin: 0 0 1em 0;
}

.settingsButtonDiv{
    justify-content: center;

    .deleteProfile{
        background-color: var(--color-red);
        color: var(--color-text-lightbackground);
        opacity: .9;
    }

    .deleteProfile:hover {
        background-color: var(--color-red);
        opacity: .8;
    }
}

.settingsButtonDiv button{
    width: 200px;
}

.settings-right {
    margin-left: 15px;
    flex-basis: 50%;
}

.settings-left {
    margin-right: 15px;
    flex-basis: 50%;
}

#date-picker-inline {
    margin: 10px
}

.desktopPicker {
    margin: 10px;
    width: 100%;
}

.settings-dataGrid {
    flex-grow: 1;
    text-align: center;
    border: none;
    width: 50%;
    align-self: center;
    width: 60%;
}

.versionNumber {
    align-self: center;
}

