.settings-div{ 
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    min-width: 200px;

    padding: 5%;
    justify-content: space-between;
    text-align: left;

}

.settings-child {
    margin: 0 0 40px 0;
}

.subText{
    font-weight: 300;
    font-size: .8em;
}

.settingsButtonDiv{
    justify-content: center;
}

.settingsButtonDiv button{
    width: 150px;
}

.settings-right {
    margin-left: 15px;
    flex-basis: 50%;
}

.settings-left {
    margin-right: 15px;
    flex-basis: 50%;
}

#date-picker-inline {
    margin: 10px
}

.settings-dataGrid {
    flex-grow: 1;
    text-align: center;
    border: none;
    width: 50%;
    overflow: scroll;
    overflow-x: scroll;
    align-self: center;
    width: 60%
}

.versionNumber {
    align-self: center;
}

