


.riskDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 0 2% 0;
    flex-wrap: wrap;
    width: 100%;
}



#noBorder {
    border: none;
}

.dataTable {
    flex-grow: 1;
    text-align: center;
    border: none;
    width: 100%;
    overflow: scroll;
    overflow-x: scroll;
    height: 60vh
}