.tooltop {
    border-radius: .25em;
    background-color: var(--color-light);
    opacity: .9;
    color: #000;
    padding: 5px;
    text-align: center;
}

.tooltop h4, .tooltop p {
    padding: 0;
    margin: 0;
}

.chartTitle{
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.speedDialContainer{
    width: 100%;
}

.speedDials{
    margin: auto;
    min-height: 300px;
    height: 400px;
    width: 30%;
    padding: 5%
}


.statHeaderRow{
    padding-bottom: 15px;
}

.filters {
    font-weight: 300;
    font-size: .9em;
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-end;
 
}

.menuButtons{
    margin: auto;
    flex-basis: 50%;
    min-width: 730px;
}


@media only screen and (max-width: 1500px)  {

    .statHeaderRow{
        flex-wrap: wrap;
    }
    .filters{
        flex-basis: 100%;
        justify-content: center;
    }

    .menuButtons{
        flex-basis: 100%;
        justify-content: center;
        align-self: center;
    }
    
}
.filters p { 
    padding: 0px 10px 0px 10px
}

.stat-chart {
    margin: 0;
}
