.settings-div{ 
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    min-width: 200px;
    max-width: 400px;
    padding: 5%;
    justify-content: space-between;
    text-align: left;

    min-height: 400px;

}

.settings-div div {
    margin: 10px 0 10px 0;
}