

.dealsTable{
    width: 100%;
}

.tooltip-activeDeals {
    position:relative; /* making the .tooltip span a container for the tooltip text */
    // border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
  }


  .tooltip-activeDeals:before {
    content: attr(data-text); /* here's the magic */
    position:absolute;
    
    /* vertically center */
    top:50%;
    transform:translateY(-50%);
    
    /* move to right */
    left:100%;
    margin-left:15px; /* and add a small left margin */
    
    /* basic styles */
    width: max-content;
    padding:10px;
    border-radius:10px;
    background:var(--color-secondary-dark25);
    color: var(--color-text-darkbackground);
    text-align:center;
    
  
    display:none; /* hide by default */
  }

  .tooltip-activeDeals:after {
    content: "";
    position:absolute;
    
    /* position tooltip correctly */
    left:100%;
    margin-left:-5px;
   
    /* vertically center */
    top:50%;
    transform:translateY(-50%);
   
    /* the arrow */
    border:10px solid var(--color-secondary-dark25);
    border-color: transparent var(--color-secondary-dark25) transparent transparent;
    
    display:none;
  }
  .tooltip-activeDeals:hover:before, .tooltip-activeDeals:hover:after {
    display:block;
  }

  .tableSettings {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 4px;

    .syncToggles{
        flex: 1;
        align-self: flex-start;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        align-items: center;
    }


    .tableButtons{
        flex-basis: 20%;
        align-items: center;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
      }

  }

.dcaCalcTable tr:hover {
              background-color: var(--color-secondary-light25);
              color: var(--color-text-darkbackground);
        
          }


.summaryRow td {
  border-top: 1px solid lightgray;
}

    

  
    