.activeDealsStats {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1em;
    align-items: center;
}


.activeDealCards {
    flex-wrap: nowrap;
    justify-content: flex-start; 
}

.activeDealButtons{
    flex-basis: 20%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1550px)  {
    .activeDealCards {
        justify-content: center; 
    }
    .activeDealButtons{
        align-items: center;
        flex-direction: row;
        padding-top: 1em;
    }
}
.dealsTable{
    width: 100%
}

.tooltip-activeDeals {
    position:relative; /* making the .tooltip span a container for the tooltip text */
    border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
  }


  .tooltip-activeDeals:before {
    content: attr(data-text); /* here's the magic */
    position:absolute;
    
    /* vertically center */
    top:50%;
    transform:translateY(-50%);
    
    /* move to right */
    left:100%;
    margin-left:15px; /* and add a small left margin */
    
    /* basic styles */
    width: max-content;
    padding:10px;
    border-radius:10px;
    background:var(--color-secondary-dark25);
    color: var(--color-text-darkbackground);
    text-align:center;
    
  
    display:none; /* hide by default */
  }

  .tooltip-activeDeals:after {
    content: "";
    position:absolute;
    
    /* position tooltip correctly */
    left:100%;
    margin-left:-5px;
   
    /* vertically center */
    top:50%;
    transform:translateY(-50%);
   
    /* the arrow */
    border:10px solid var(--color-secondary-dark25);
    border-color: transparent var(--color-secondary-dark25) transparent transparent;
    
    display:none;
  }
  .tooltip-activeDeals:hover:before, .tooltip-activeDeals:hover:after {
    display:block;
  }

