.dealsTable {
  width: 100%;
}

.tooltip-activeDeals {
  position: relative; /* making the .tooltip span a container for the tooltip text */
  // border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip-activeDeals:before {
  z-index: 1;

  content: attr(data-text); /* here's the magic */
  position: absolute;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* move to right */
  left: 100%;
  margin-left: 15px; /* and add a small left margin */

  /* basic styles */
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  background: var(--color-secondary-dark25);
  color: var(--color-text-darkbackground);
  text-align: center;

  display: none; /* hide by default */
}

.tooltip-activeDeals:after {
  content: "";
  position: absolute;

  /* position tooltip correctly */
  left: 100%;
  margin-left: -5px;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* the arrow */
  border: 10px solid var(--color-secondary-dark25);
  border-color: transparent var(--color-secondary-dark25) transparent transparent;

  display: none;
}
.tooltip-activeDeals:hover:before,
.tooltip-activeDeals:hover:after {
  display: block;
}

.tableSettings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 4px;

  .notificationsSettings {
    flex: 1;
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
  }

  .tableButtons {
    flex-basis: 20%;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
  }
}

.dcaCalcTable tr:hover {
  background-color: var(--color-secondary-light25);
  color: var(--color-text-darkbackground);
}

.summaryRow td {
  border-top: 1px solid lightgray;
}

.activeDealsTable {
  overflow: auto;
  .table {
    border-spacing: 0;
    background-color: var(--color-background-light);
    color: var(--color-text-lightbackground);
    font-size: 0.9em;
    // display: block;
    .th, .td {
      margin: 0;
      // padding: 0.3rem 0.2rem 0.3rem 0.2rem;
    }

    .thead {
      position: sticky;
      top: 0;
      z-index: 100;
      padding: 0;
      text-align: center !important;
      .th {
        font-weight: 700;
      }
    }

    .tbody {

      .tr:nth-child(2n + 2) .td {
        background-color: var(--color-secondary-light87);
      }
      .tr:hover .td {
        background-color: var(--color-secondary-light25);
        color: var(--color-text-darkbackground);
      }

      .pill {
        padding: 0.2em;
        display: block;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        white-space: nowrap;
        width: 90%;
      }

      .red {
        background-color: var(--color-red);
        opacity: var(--opacity-pill);
      }

      .green {
        background-color: var(--color-green);
        opacity: var(--opacity-pill);
      }

      .pill-left {
        border-radius: 10px 0px 0px 10px;
        text-align: right;
        padding-right: 1em;
        margin-right: 2px;
      }

      .pill-right {
        border-radius: 0px 10px 10px 0px;
        text-align: left;
        padding-left: 1em;
      }
    }
  }
}
