.sidebarOption svg, 
#displaySwitcher svg,
.icon {
    fill: var(--color-secondary-light50);
    max-height: 25px;
    max-width: 25px;
}

.sidebarOption {
    align-self: center;
    text-align: center;
    width: 100%;
    margin: 15px 0 15px 0;
    display: inline;
}


.sidebarOption .active svg,
.sidebarOption:hover svg {
    fill: var(--color-secondary);
  }


.sidebar-column{
    flex-basis: 50%;
}


#sidebar {
    z-index: 1;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60px;
}