.dataCard {
    flex-basis: 15%;
    margin: 2%;
    text-align: center;
    color: #212B3B;
    min-width: 150px
}

.dataCard h2 {
    font-size: 1.75em;
    margin: 0;

}

.dataCard h4 {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
}