@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  // overflow: hidden;
  margin: 0;
  // overscroll-behavior: none;
  min-height: 100vh;
  min-height: 1000px;
  min-width: 1200px;
  width: 100vw;
}


#root {
  height: 100%;   

  display: flex;  /* enables flex content for its children */
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 600;
}